# EXAMPLE FILE COMMITTED TO REPO, MAKE YOUR OWN .envrc
export DATABASE_NAME=todos
export DATABASE_USER=postgres
export DATABASE_PASSWORD=postgres
export DATABASE_PORT=54322
export DATABASE_SERVER=localhost
export DATABASE_CONNECTION_STRING="Server=$DATABASE_SERVER;Port=$DATABASE_PORT;Database=$DATABASE_NAME;User Id=$DATABASE_USER;Password=$DATABASE_PASSWORD;"
